.product-card {
    border: 1px solid red;
    /* width : 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40vw;
    margin-bottom: 10px;
    background-color: brown;
    padding: 10px;
    border-radius: 10px; */
}